DATABASE_URL=
DIRECT_URL=
SUPABASE_URL=
SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
JWT_ACCESS_SECRET="piyes_access_secret_change_me_in_prod"
JWT_REFRESH_SECRET="piyes_refresh_secret_change_me_in_prod"
NODE_ENV="development"
GEMINI_API_KEY=

# MonCash Configuration
MONCASH_CLIENT_ID= 4d1d47926758fa27c42175fe6d1780a8
MONCASH_CLIENT_SECRET=3KTYedyQ6RL3w0TfJBnF_CejmX-7BkWJFyQLZ5bQVgmQzhcW2oKwb5PYI4Xrzk5d
MONCASH_BUSINESS_KEY=UmxSbExXTkpTMUF0YTAwOSBiMnRGUjBST1MyZFVTMFJTV1ZCSU1FcHdlV2RGUVQwOQ==
MONCASH_API_HOST="sandbox.moncashbutton.digicelgroup.com/Api"
MONCASH_GATEWAY_URL="https://sandbox.moncashbutton.digicelgroup.com/Moncash-middleware"
MONCASH_RETURN_URL="https://webhook.site/8dd9a2f9-29d3-4da1-a24b-09f0146b805e"
MONCASH_ALERT_URL="https://github.com/MarcEntreprend"
